extends layout

block content
    h1.text-center #{title}
    .row
        each board, i in boards
            .col-sm-4
                .thumbnail
                    -let id1 = board._id;
                    - let image = board.image
                    img.board-image(src=image)
                    .caption
                    h2= board.name
                    h4= 'Added by ' + board.author.username
                    p= board.description
                    .rm-btn
                        button.btn.btn-danger.removeBoard(data-id=id1)
                            span.glyphicon.glyphicon-trash
                .row
                    .col-xs-8
                        - let id = board._id;
                        input.form-control.task(name='title', type='text' placeholder="Add Task" data-id=id)
                    .col-xs-4.text-right
                        button.btn.btn-primary.addTask
                            span.glyphicon.glyphicon-plus
                ul.list-group(data-id=id)
                    each task, i in board['tasks']
                        - let id = task._id;
                        if task.filled
                            li.list-group-item.complited(data-id=id)= task.title
                                h5 complited
                                button.btn.btn-danger.removeTask.glyphicon.glyphicon-trash
                        else
                            li.list-group-item(data-id=id)= task.title
                                button.btn.btn-success.completeTask.glyphicon.glyphicon-ok
                                button.btn.btn-danger.removeTask.glyphicon.glyphicon-trash
                .row.co-worker-container
                    .col-xs-8
                        h3 Co workers:
                    .col-xs-4
                        button.btn.btn-primary.addCoworker(data-id=id1).glyphicon.glyphicon-plus
                ul.list-group.coworkers
                    each coworker, i in board['coworkersName']
                        li.list-group-item= coworker.username

    .row
        hr
        .col-sm-12
            h3 Boards shared for you
    .row
        each boardCo, i in boardsCo
            .col-sm-4
                .thumbnail
                    -let id1 = boardCo._id;
                    - let image = boardCo.image
                    img.board-image(src=image)
                    .caption
                    h3= boardCo.name
                    h4= 'Created by ' + boardCo.author.username
                    p= boardCo.description
                .row
                    .col-xs-8
                        - let id = boardCo._id;
                        input.form-control.task(name='title', type='text' placeholder="Add Task" data-id=id)
                    .col-xs-4.text-right
                        button.btn.btn-primary.addTask.glyphicon.glyphicon-plus
                ul.list-group(data-id=id)
                    each taskCo, i in boardCo['tasks']
                        - let idCo = taskCo._id;
                        if taskCo.filled
                            li.list-group-item.complited(data-id=idCo)= taskCo.title
                                h5 complited
                                button.btn.btn-danger.removeTask.glyphicon.glyphicon-trash
                        else
                            li.list-group-item(data-id=idCo)= taskCo.title
                                button.btn.btn-success.completeTask.glyphicon.glyphicon-ok
                                button.btn.btn-danger.removeTask.glyphicon.glyphicon-trash
                ul.list-group.coworkers
                    each coworkerCo, i in boardCo['coworkersName']
                        li.list-group-item= coworkerCo.username
